* {
margin: 0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:#073136
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #a85793;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #a85793;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.blog-preview h2 {
  font-size: 20px;
  color: #a85793;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}
.blog-details h3 {
  color: #a85793;
  margin-bottom: 10px;
}
.blog-details div{
  margin: 20px 0;
}
.blog-details button{
  background: #a85793;
  color:#fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create{
  max-width: 6800px;
  margin: 0 auto;
  text-align: center;
  
}
.create label{
  text-align: left;
  display: block;
  font-size: 18px;
  font-weight:lighter;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.create h2{
  font-size: 20px;
  color: #a85793;
  margin-bottom: 30px;
}
.create input, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd ;
  box-sizing: border-box;
  display: block;
  border-color: #a85793;
  border-width: 2px;
  max-width: 500px;
  height: 40px;
}
.create textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd ;
  box-sizing: border-box;
  display: block;
  height: 500px;
  border-color: #a85793;
  border-width: 2px;
}
.create button{
  background: #a85793;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}